In [1]:
a=10

In [2]:
a

10

In [3]:
b=20

In [4]:
a+b

30

In [5]:
b-a

10

### Hi welcomeðŸ‘ŒðŸ˜’

In [10]:
c=int(input("enter the number"))
d=float(input("enter the number"))
print("conversion of number",int(d))
print("coversion of number",float(c))

enter the number12
enter the number23.456
conversion of number 23
coversion of number 12.0

In [35]:
q=int(input("enter the number"))
k=input("enter the name ")
print("enter the number is:%d",q)
print("enter the name is:%s",k)

enter the number12
enter the name sandeep
enter the number is:%d 12
enter the name is:%s sandeep

In [47]:
print("enter number is: {} and enter the name is: {}".format(q,k))
print("enter number is: n={} and enter the name is: {}".format(k,q))
print("enter number is: {} and enter the name is: {}".format(q,k))

enter number is: 12 and enter the name is: sandeep
enter number is: n=sandeep and enter the name is: 12
enter number is: 12 and enter the name is: sandeep

In [39]:
a=20
print(a>>2)

5

In [45]:
n=int(input("enter the number"))
if n == 23:
    print("entered value is: {}",format(n))

enter the number12

In [48]:
n=int(input("enter the number"))
m=int(input("enter the number"))
if n == m:
    print("entere value is:{} and {} are equal".format(n,m))
else:
    print("entere value is:{} and {} are not equal".format(n,m))

enter the number12
enter the number12
entere value is:12 and 12 are equal

In [49]:
a=10

In [50]:
a

10

In [52]:
n= int(input("enter the number"))
if(n<=300):
    if(n==200):
        print("enter the value {} is equal to 200".format(n))
    else:
        print("enter the value {} is not equal to 200".format(n))
else:
    print("enter the value {} is greater than  200".format(n))

enter the number200
enter the value 200 is equal to 200

In [62]:
h= int(input("enter the number"))
if h%4 == 0:
    print("the number{} is divisible by 4".format(h))
elif h%2 == 0 & h%4 == 0:
    print("the number{} is divisible by 2 and 4".format(h))
elif h%2 == 0:
    print("the number{} is divisible by 2".format(h))
else:
    print("the number{} is not divisible by 2".format(h))

enter the number20
the number20 is divisible by 4

In [64]:
n= int(input("enter the number"))
for i in range(n):
    print(i,end=",")

enter the number100
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [66]:
n= int(input("enter the number"))
m= int(input("enter the number"))
for i in range(n,m):
    print(i,end=",")

enter the number100
enter the number150
100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,

In [76]:
n= int(input("enter the number"))
m= int(input("enter the number"))
l= int(input("enter stepping value"))
for i in range(n,m,l):
    print(i,end=",")

enter the number100
enter the number0
enter stepping value20

In [78]:
m= int(input("enter the number"))
n= int(input("enter the number"))
for i in range(n,m):
    print(i,end=",")

enter the number100
enter the number50
50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,