In [12]:
n= int(input())
for i in range(n):
    print(i)

10
0
1
2
3
4
5
6
7
8
9

In [ ]:
INPUT       
            AP19110010509
            AP19110010510:20
    OUTPUT: AP19110010501

In [1]:
n= int(input())
for j in range(n):
    print("AP191100105{:02}".format(j))

10
AP19110010500
AP19110010501
AP19110010502
AP19110010503
AP19110010504
AP19110010505
AP19110010506
AP19110010507
AP19110010508
AP19110010509

In [2]:
n= int(input())
for i in range(n):
    print(i)

10
0
1
2
3
4
5
6
7
8
9

In [5]:
n=int(input())
r=0
p=n
while n!=0:
    r=r*10+n%10
    n=n//10
    print("given number is: {}\n reverse of a number is: {}\n"
         "given number is {} and its reverse is: {}".format(p,r,p,r))

4321
given number is: 4321
 reverse of a number is: 1
given number is 4321 and its reverse is: 1
given number is: 4321
 reverse of a number is: 12
given number is 4321 and its reverse is: 12
given number is: 4321
 reverse of a number is: 123
given number is 4321 and its reverse is: 123
given number is: 4321
 reverse of a number is: 1234
given number is 4321 and its reverse is: 1234

break,continue,pass,return

In [8]:
n=int(input())
for h in range(n):
    if h==100:
        break
    else:
        print(h,end=",")

100
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [10]:
n=int(input())
for h in range(n):
    if h==100:
        continue
    else:
        print(h,end=",")

200
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,

In [11]:
n=int(input())
for h in range(n):
    if h==10:
        pass
    else:
        print(h,end=",")

100
0,1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [24]:
n=int(input())
for i in range(n):
    if (i == 10):
        pass
    print(i,end=",")

10
0,1,2,3,4,5,6,7,8,9,

In [34]:
a=1
for i in range(1,6):
    for j in range(1,8):
        if (a<=31):
            print("(:02)".format(a),end=" ")
        else:
            break
        a=a+1
    print(end="\n")

01(:02) 01(:02) 01(:02) 01(:02) 01(:02) 01(:02) 01(:02)
01(:02) 01(:02) 01(:02) 01(:02) 01(:02) 01(:02) 01(:02)
01(:02) 01(:02) 01(:02) 01(:02) 01(:02) 01(:02) 01(:02)
01(:02) 01(:02) 01(:02) 01(:02) 01(:02) 01(:02) 01(:02)
01(:02) 01(:02) 01(:02)

In [49]:
a=1
for i in range(1,6):
    for j in range(1,8):
        elif(a<=31):
            if(a%2==0):
                print("##",end=" ")
            else:
                break
            a=a+1
    print(end="\n")

SyntaxError: invalid syntax (<ipython-input-49-62122be3479e>, line 4)